/.bundle

/db/*.sqlite3

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

*.swp

/public/uploads/*
/public/assets/*
/storage

/config/application.yml
/config/database.yml
/config/storage.yml
/config/master.key
**.orig
*.old
*.bak
*~
.env
.byebug_history
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
