# Use `rake secret` to generate one key
SECRET_KEY_BASE: ''

# domain name used by action cable
DOMAIN: ''
PROTOCOL: http

# UPYUN set
UPYUN_USERNAME: ''
UPYUN_PASSWORD: ''
UPYUN_BUCKET: ''
UPYUN_BUCKET_HOST: ''

# sidekiq namespace
SIDEKIQ_NAMESPACE: ''

# admin account
DEFAULT_ADMIN_NAME: 'admin'
DEFAULT_ADMIN_PASSWORD: 'admin'

# MIXIN API config
MIXIN_CLIENT_ID: '0508a116-1239-4e28-b150-85a8e3e6b400'
MIXIN_CLIENT_SECRET: '2c52a5f0d3ea538f71b4cd150116b86602ee131e95b6c58499c66568a9236843'
MIXIN_DEFAULT_SCOPE: 'PROFILE:READ+PHONE:READ'
MIXIN_PIN_CODE: '753668'
MIXIN_SESSION_ID: '1914337e-da10-4b30-8390-a6cc5201d726'
MIXIN_PIN_TOKEN: 'QjIZ/AwNh1cPKN0aMZPXu4HIBFeRj81N+USJYHxVdtE6IE0p6KFhiktjvRs1cdAaRKjG44Uz3Lct8S/IWS555GmArArjhhvO37VNdscrs6E5sRi1zOgCqfomOib2Y3OyQ2aHzy8tO9Qlu6XGJMUyhpZRuuC3HBW5m2A848WTXZg='
MIXIN_PRIVATE_KEY: |
  -----BEGIN RSA PRIVATE KEY-----
  MIICXAIBAAKBgQCyru2TOG7tFwJ/9IK9/NQkcjSadJgd7Ag80xOFT/4zanUCNmM0
  H7bgjrIZMbGU1yc9G1mfNIppyMeSTZ9KxACzmOijLjQlSKrgSMAzhnnB44yQDHn+
  GLDRyy4fOMJ9F9B1NQ5SJtZNncSRndrhcTeuRVBJpp+VMj6FCFbCMaiKaQIDAQAB
  AoGAYzZ32Ye7J8/f5nY4Zg9NJ5N2G9DjabHV/RfiPeJlrdzNbVYPjTCS1WrF/vE1
  vgQc2HQoNhrxQ71k+po4+UWNcT0Ht9xQLUjNHoppn5wrs0YSfrkpo/HeWYZrz5on
  PvHmwCdLylnxV4EwenCYwgBgsVaAV9zf3vRc4vwfY9TytRUCQQDoD+1L9u/6JV8p
  HWRNRKRoPqIxS2O9MUvfHip7tKczOxyQ/FOUM2Gc1EAS8iT3tdIQR6+sd79JroMR
  yxP4VQ9LAkEAxR1sShdDhlliic0pGvKGXpTtwMioG4E+dEfM5/K1H1XpEi8YE67r
  rSMHs6XgpewFkKr9bkWNkm0MP5E3riPYmwJAKMNjc4yU6uPVq2s2SzxbhNQ7uVz8
  0CbwpOivnbtGA4HGqtEn/UhpRRsjhjByvfB6TdHJ0gnW2CKHc4CwqVaHsQJAP8Wk
  KlhadVXn5nNk0B4U0PbX8N46XSO0ZARyy7wfUzMFQ+fOn1ehUhOaQ0nwY1338vUP
  JyUDh5MWOl6uJ/3a7wJBAJC1BaRp5VLxWmJJt1LKSNoCe1ARg4awzTeY484EmsoQ
  ojZKmnSeQGs4BHWDjwcKDBeA5qcS0bMOHlMnljk2hBw=
  -----END RSA PRIVATE KEY-----
