# Use `rake secret` to generate one key
SECRET_KEY_BASE: ''

# domain name used by action cable
DOMAIN: ''
PROTOCOL: http

# ALIYUN set
ALIYUN_ACCESS_KEY_ID: ''
ALIYUN_ACCESS_KEY_SECRET: ''
ALIYUN_BUCKET: 'iminxin'

# sidekiq namespace
SIDEKIQ_NAMESPACE: ''

# admin account
DEFAULT_ADMIN_NAME: 'admin'
DEFAULT_ADMIN_PASSWORD: 'admin'

# MIXIN API config
MIXIN_CLIENT_ID: ''
MIXIN_CLIENT_SECRET: ''
MIXIN_DEFAULT_SCOPE: 'PROFILE:READ+PHONE:READ'
MIXIN_PIN_CODE: ''
MIXIN_SESSION_ID: ''
MIXIN_PIN_TOKEN: ''
MIXIN_PRIVATE_KEY: ''