# Use `rake secret` to generate one key
SECRET_KEY_BASE: ''

# domain name used by action cable
DOMAIN: ''
PROTOCOL: http

# UPYUN set
UPYUN_USERNAME: ''
UPYUN_PASSWORD: ''
UPYUN_BUCKET: ''
UPYUN_BUCKET_HOST: ''

# sidekiq namespace
SIDEKIQ_NAMESPACE: ''

# admin account
DEFAULT_ADMIN_NAME: 'admin'
DEFAULT_ADMIN_PASSWORD: 'admin'

# MIXIN API config
MIXIN_CLIENT_ID: '0508a116-1239-4e28-b150-85a8e3e6b400'
MIXIN_CLIENT_SECRET: 'f09b8e5c7dceaf237a1e8ba32cdb78341481f0dd81fddc226159fbdb41574862'
MIXIN_DEFAULT_SCOPE: 'PROFILE:READ+PHONE:READ+ASSETS:READ'
MIXIN_PIN_CODE: ''
MIXIN_SESSION_ID: 'a74d1cb7-50ca-427f-84ef-e05681a4850d'
MIXIN_PIN_TOKEN: 'X3O92p4GlsPrWxvFXrU8STXJvoA1e7mVT+Pdmal/05+2HcO1vvP7a1C+Ga4Ag0JuUP9p1xU917Q0x6l/pSYEqgFSiXdWjwT6KZHEz/cJMLBBmdlQqxSefy2UVB1+z72fgrJoRwL7S70O+T9qKoPxpxameiHoczmYLCeePoPQdkE='
MIXIN_PRIVATE_KEY: |
  -----BEGIN RSA PRIVATE KEY-----
  MIICXQIBAAKBgQCTHcFuvs663X/gIQbpkTPuEUVyanXfuusUwxhkqssUCLOIyKjC
  6m4rl5yj5aA+JgIo9zUuLWlJ31yznm0dixLmiV9o3amMWt0W2CEp+Iha4Q2q8ccg
  O0LodlAzBKdiu7tuJqoeozDEF2cu49bqlSXk3bLCa2CRaeVmuo2UUhyKUwIDAQAB
  AoGAQWLQPjCAIX2hADStpdHrirwSaa/3g+DH6wprJRLj/5t+cCT/HOKk5KsV66J7
  fiPWge6drFByo2qrAQpA5QiS9UDZlNw+WZP2Jv1A+7aszOXbpfHouGsi0hOul/2r
  RFvWw2jj6ubMaH4tuT7JiqH7eL+anphR0cU1+2F6AAVIP8ECQQD+w1miLShPBNwX
  uS+y2iaD1Y6Ljwm3+3iuArNsBwh9XevRI/LZFzbuFIzCH1YAgf/SR2KFPSpf7MIL
  X12NFrG1AkEAk9Sb8Ue/W+418MepWRTlhdqQks6+GUr6BpeAwQa04as1aueEf0uw
  XTo9nlpWHTMXyBpSlaEZWsKRxovsqzdw5wJBAIwuN3raOCzKssRG/K0ABmNSNf4q
  taFLuMqe59UQRaad8G0Cx9SWRn5YRl9mWK8s2PP+nYJM9q0TnG4fil1g2GUCQHh9
  Sb0W5XlgZsahdf4NciXvRvbhWz/yRGcrBN5PQQ7OJPPFT9ERN+ZEmgR/TMDv6+pE
  yhr6+1dmTrqtQXEr9vECQQDz9StlzN+Aj56dF/XHDCfjJtvHaevJCQM7TbSfGfxn
  tfr5vJNFk08rmJV8nzchXbp+bRjfDw+twN6MqKLannBW
  -----END RSA PRIVATE KEY-----
