.page {
  width: 100%;
}

.opacity-25 {
  opacity: 0.25 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-100 {
  opacity: 1.0 !important;
}

.font-size-10 {
  font-size: 1rem !important;
}

.font-size-15 {
  font-size: 1.5rem !important;
}

.font-size-20 {
  font-size: 2.0rem !important;
}

.font-size-25 {
  font-size: 2.5rem !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}
